/*  Responsive Design
    1440px ~ 100vw => 14.4px ~ 1vw


    Theme Color
    const LightTheme={
  lightText:"hsl(200, 15%, 8%)",
  lightInput:"hsl(0, 0%, 52%)",
  lightBackground:"hsl(0, 0%, 98%)",
  lightElements:"hsl(0, 0%, 100%)"
}

  const DarkTheme={
  darkText:"hsl(0, 0%, 100%)",
  darkInput:"hsl(0, 0%, 52%)",
  darkBackground:"hsl(207, 26%, 17%)",
  darkElements:"hsl(209, 23%, 22%)" // 
}


  */

*{
  box-sizing: border-box;
  /* background-color: hsl(0, 0%, 98%);
  color:hsl(200, 15%, 8%); */
}

@import url(https://fonts.google.com/specimen/Rubik?query=Rubik#standard-styles);
body{
  /*  Change 16px for detail page */
  font-size: 14px; 
  font-family:Rubik;
  /* box-sizing: border-box; */
}
.header{
  display: flex;
  flex-direction: row;
  height: 13vh;
  align-items: center;
  box-shadow: 2px 1px  1px #888888;
  /* background-color: hsl(0, 0%, 100%); */
} 
/*  Mobile version */


.header h2{
  width: 480px;
  margin-left: 5vw; 
}
.theme-button{
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-right:5vw ;
  font-weight: 600;
}
.theme-button a{
  text-decoration: none;
  color:inherit;
}
.theme-button img{
  width: 15px;
  margin-right: 7px;
}


@media only screen and (min-width: 370px){

  .search-filter-wrapper{
    flex-direction: column;
    margin:50px 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
  }
  input[type=text]{
    background-image: url("./assets/search-icon.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 45px;
    width: 90vw;
    background-position: 20px 13px;
    text-indent: 60px; 
  }
  input[type=text]::placeholder{
    color:inherit;
  }
  .filter{
    /* margin-top: 20px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;  
  
  }
  .filter select{
    height: 45px;
    width:200px;
    padding: 10px;
    
  }
  .filter select option{
    border-style: none;
    /* appearance: none; */
  }

  .card-detail-wrapper{
    display: flex;
    flex-direction: column;
    font-size: 16px; 
    /* background-color: lightgoldenrodyellow; */
    margin:0 5vw;
  }
  .card-detail-wrapper img{
    width: 90vw;
  }
  .detail-wrapper{

  }
  .detail-col{
    display: flex;
    flex-direction: column;
    width: 87vw;
  }
  .detail-col1{
    display: flex;
    flex-direction: column;
    width: 87vw;
    margin-bottom: 30px;
  }
  /* .detail-col2{
      
  } */
  .detail-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
  }
  .detail-row span{
    margin: 2px;
  }
  .detail-sub-heading{
    margin-right: 5px;
  }
  
  
  .detail-clickable-row{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 25px;
  }
  .detail-clickable-row h4{
    justify-self: flex-start;
    width: 150px;
  }
  .border-country-list{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  
  }
  .border-country-list button{
    background: none;
    border-style: none;
    box-shadow: 2px 3px 5px #888888;
    margin:10px;
    height: 25px;
    width: 80px;
  }
  
}

@media only screen and (min-width:700px){
  .search-filter-wrapper{
    margin:50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;

  }
  .search{
    /* box-shadow: 1px 3px  2px #888888; */
    border-style: none;
  }
  input[type=text]{
    background-image: url("./assets/search-icon.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 45px;
    width: 400px;
    background-position: 20px 13px;
    text-indent: 60px; 
  }
  /* .filter{
    
  
  } */
  .filter select{
    height: 45px;
    width:200px;
    /* padding-right: 10px; */
    
  }
  .filter select option{
    border-style: none;
    /* appearance: none; */
  }

  /*  Detail Page */

  .card-detail-wrapper{
    display: flex;
    flex-direction: row;
    font-size: 16px; 
    /* background-color: lightgoldenrodyellow; */
    margin:0 5vw;
  }
  .card-detail-wrapper img{
    width: 450px;
    height: 350px;
  }
  .detail-wrapper{
    margin-left:8vw;
  }
  .detail-col{
    display: flex;
    flex-direction: row;
    width: 600px;
  }
  .detail-col1{
    display: flex;
    flex-direction: column;
    width: 300px;
    /* align-items: center; */
  }
  /* .detail-col2{
      
  } */
  .detail-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
  }
  .detail-row span{
    margin: 2px;
  }
  .detail-sub-heading{
    margin-right: 5px;
  }
  
  
  .detail-clickable-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
  }
  .detail-clickable-row h4{
    display: inline;
    width: 150px;
  }
  .border-country-list{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  
  }
  .border-country-list button{
    background: none;
    border-style: none;
    box-shadow: 2px 3px 5px #888888;
    margin:10px;
    height: 25px;
    width: 80px;
  }
}


.card-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.card{
  box-sizing: border-box;
  width: 250px;
  height:330px;
  box-shadow: 1px 4px 3px #888888;
  margin: 20px 20px;

  /* flex: 1; */

}
.card img{
  width: 250px;
  height: 170px;
}
.card h2{
  margin-left: 20px;
 
}
.country-details{
  font-weight: 600;
  margin-left: 20px;

}
.country-details span{
  font-weight: normal;
}
.back-button{
  margin: 10vh 5vw;
}

.back-button button{
  background: none;
  border-style: none;
  text-decoration: none;
  box-shadow: 2px 4px 3px 2px #888888;
  width:120px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.back-button button span{
  text-align: center;
}
.back-button button img{
  width:50px;
  height: 17px;
  
}
